<mat-toolbar>Mi Perfil</mat-toolbar>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
               Usuario: {{ usuario }}
            </mat-panel-title>
            <mat-panel-description>
                Ver Roles
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <p *ngFor="let rol of roles; let i=index">{{ i + 1}} {{rol}}
            <mat-divider></mat-divider>
        </p>
        
        

    </mat-expansion-panel>
</mat-accordion>
