<div>
    <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="paciente.nombres">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Apellidos" [(ngModel)]="paciente.apellidos">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="DNI" type="number" [(ngModel)]="paciente.dni">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Teléfono" type="number" [(ngModel)]="paciente.telefono"> 
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Direccion" [(ngModel)]="paciente.direccion">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="paciente.email">
    </mat-form-field>
   
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
